html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; }

html {
    width:100%;
    height:100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    overflow-x: hidden;
}

header, section, footer {
    width: 100%;
    padding: 68px 0;
    text-align: center;
}

header {
    background-color: #2b6f90;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    position: relative;
}

header a {
    color: lightgreen;
    text-decoration: none;
}

.why {
    background-color: lightcoral;
}

.why li {
    width: 100%;
    font-size: 26px;
    padding-top: 14px;
}

.todos {
    color: #000000;
    font-size:26px;
}

.todos li {
    vertical-align: top;
}

#todos {
    margin-left: -200px;
    height: 103px;
    width: 567px;
}

#todos li {
    width: 100%;
    padding-bottom: 5px;
}

.continue {
    background-color: #000000;
}

.continue a {
    text-decoration: none;
    color: #fff;
}

.carrousel img {
    display:block;
    margin:auto;
}

form {
    font-family: courier, courier new, monospace;
}

form h3 {
    margin-bottom: 20px;
    min-width: 200px;
    margin-left: 40%;
    margin-right: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightgreen;
    color: #fff;
}

input[type="text"]
{
    font-family: courier, courier new, monospace;
    font-size:26px;
}

button {
    position: relative;
    margin-left: 20px;
    width: 200px;
    height: 38px;
    border-radius: 6px;
    background-color: #2b6f90;
    color: #fff;
    font-size: 18px;
    line-height: 38px;
}

h1 {
    display: block;
    position: relative;
    font-size: 80px;
    font-weight: 100;
    line-height: 90px;
}
h2 {
    display: block;
    position: relative;
    font-size: 16px;
    font-weight: 100;
    line-height: 20px;
    margin-top: 10px;
}
h3 {
    display: block;
    position: relative;
    font-size: 30px;
    font-weight: 100;
    line-height: 20px;
    margin-top: 10px;
}

.explore {
    background-color: lightseagreen;
}

.info {
    font-size: 20px;
}

.info li {
    width: 33%;
    min-width: 400px;
    vertical-align: top;
}

.info img {
    padding-bottom: 20px;
}

.info p {
    padding-bottom: 10px;
}